@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";
@import 'tailwindcss';
@plugin "@midudev/tailwind-animations";


body {
    background-color: #F2F2F2;
    color: black;
}

html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}