<div class="w-2xs bg-amber-200 mx-auto">
  <!-- HEADER CARD  -->
  <div class="my-4">
    <img src="/assets/img/default-image.jpg" alt="" class="object-contain">
  </div>
  <!-- CONTENT CARD  -->
  <div class="my-4">
    <p class="font-bold">{{this.data_card()?.name}}</p>
    <small class="text-neutral-400">stock {{this.data_card()?.stock}}</small>
    <div class="grid grid-cols-4 gap-2">
      <input type="number" class="col-span-3 bg-neutral-200 px-4 input-shop-card-square" [(ngModel)]="quantity" min="1" [max]="stock">
      <div class="flex flex-col col-span-1">
        <span class="cursor-pointer p-1 border-1 border-neutral-300 text-center" (click)="addQ()">+</span>
        <span class="cursor-pointer p-1 border-1 border-neutral-300 text-center" (click)="decreaseQ()">-</span>
      </div>
    </div>
  </div>
  <!-- FOOTER CARD  -->
  <div class="my-4 flex flex-wrap bg-blue-100">
    <button type="button" class="border-1 px-2 py-1 cursor-pointer" (click)="addToCart()">Agregar</button>
  </div>
</div>

