<div class="card">
  <div class="w-2xs">
    <!-- HEADER CARD  -->
    <div class="my-4">
      FOTO
      <img src="" alt="">
    </div>
    <!-- CONTENT CARD  -->
    <div class="my-4">
      <div class="">
        <input type="number" class="bg-neutral-200 px-4 py-2 input-shop-card-square" [(ngModel)]="quantity" min="1" [max]="stock">
        <!-- <div class="flex gap-2">
          <span class="cursor-pointer p-2 border-1 border-neutral-300" (click)="decreaseQ()">-</span>
          <span class="cursor-pointer p-2 border-1 border-neutral-300" (click)="addQ()">+</span>
        </div> -->
      </div>
    </div>
    <!-- FOOTER CARD  -->
    <div class="my-4">
      BOTONES
    </div>
  </div>
</div>
