.sidebar-cart{
    width: 400px;
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr auto;
    grid-template-areas: 
        'sch'
        'scc'
        'scf'
    ;
}

.sidebar-cart-header{
    grid-area: sch;
}
.sidebar-cart-content{
    grid-area: scc;
    /* ::-webkit-scrollbar {
        width: 12px;

    };
    ::-webkit-scrollbar-button{
        display: none;
    } */
    
}
.sidebar-cart-footer{
    grid-area: scf;
    margin: 0 auto;
    max-height: 300px;
}

/* .item-list-cart{
    width: 95%;
    height: 100px;
    margin: 0 auto;
} */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.1); 
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}